<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('includes/header')%>
    <main class="chat-box flex justify-between flex-shrink ">
        <aside class="chat-member hidden md:block max-w-3/12 p-2.5 h-full">
            <h2 class="font-semibold mb-3 text-gray-400">Neighbor's Chat</h2>
            <div class="input-wrapper border-2 border-t-0 border-l-0 border-r-0">
                <input type="text" placeholder="Search group member" 
                class="p-2 outline-none placeholder:text-lg w-full">
            </div>
            
            <div class="group-members">
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>

            </div>

        </aside>

        <section class="chat-message flex-1 p-2.5 h-full">
            
            <div class="message-top mb-1 flex flex-col">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg bg-gray-200 text-black px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>

            
            <div class="message-top mb-1 flex flex-col items-end">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg lg:text-xl bg-customblue text-white px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>

            <div class="message-top mb-1 flex flex-col">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg bg-gray-200 text-black px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>

            
            <div class="message-top mb-1 flex flex-col items-end">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg lg:text-xl bg-customblue text-white px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>

            <div class="message-top mb-1 flex flex-col">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg bg-gray-200 text-black px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>

            
            <div class="message-top mb-1 flex flex-col items-end">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg lg:text-xl bg-customblue text-white px-3 pt-2 rounded-lg max-w-72">Lorem ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>




            <div class="message-button-wrapper flex border-2 border-gray-500 p-3">
                <textarea class="flex-1 bg-gray-200 mx-3 rounded-2xl font-semibold font-sans resize-none outline-none pl-5 placeholder:py-auto" type="text" placeholder="Type a message"></textarea>
                <button class="text-white text-sm bg-blue-500 px-5 rounded-md focus:cursor-pointer focus-within:opacity-80">Send</button>
            </div>
            
        </section>

        <section class="chat-update hidden md:block w-1/4  p-2.5 bg-slate-400 h-full">update</section>
    </main>
</body>
</html>