<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <%- include('includes/header')%>

    <main class="chat-box flex justify-between flex-grow max-w-5xl mx-auto my-10 rounded-lg h-4/5 bg-slate-400">
        <aside class="chat-member hidden md:block p-2.5 h-full">
            <h2 class="font-semibold mb-3 text-gray-400">Neighbor's Chat</h2>
            <div class="input-wrapper border-2 border-t-0 border-l-0 border-r-0">
                <input type="text" placeholder="Search group member"
                    class="p-2 outline-none placeholder:text-lg w-full">
            </div>

            <div class="group-members">
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>
                <div class="member-wrapper flex items-center hover:bg-gray-100 cursor-pointer mt-5">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="font-semibold">Abraham Dukuly</span>
                </div>

            </div>

        </aside>

        <section class="chat-message flex-1 p-2.5 relative">

            <div class="message-top flex flex-col">
                <div class="flex items-end">
                    <img class="w-10 h-10 rounded-full object-cover mr-3" src="../profile.jpg" alt="profile-image">
                    <span class="message text-sm md:text-lg bg-gray-200 text-black px-3 py-2 rounded-lg max-w-72">Lorem
                        ipsum dolor sit, non?</span>
                </div>
                <div class="timestamp text-gray-400">1 hour ago</div>
            </div>


            <div class="message-button-wrapper flex border-2 border-gray-500 p-3 absolute bottom-3 left-0 right-6">
                <textarea
                    class="flex-1 bg-gray-200 mx-3 rounded-2xl font-semibold font-sans resize-none outline-none pl-5 placeholder:py-auto"
                    type="text" placeholder="Type a message"></textarea>
                <button
                    class="text-white text-sm bg-blue-500 px-5 rounded-md focus:cursor-pointer focus-within:opacity-80">Send</button>
            </div>

        </section>
    </main>

    <%- include('includes/footer')%>
</body>


</html>