<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>HubWatch - Help Keep Your Neighborhood Safe</title>
	<link rel="stylesheet" href="css/styles.css" />
	<script src="../scripts/home.js" defer></script>


	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body class="bg-gray-100 text-gray-900 relative">

	<div class="home-page-container">
		<!-- Header -->
		<%- include('includes/header') %>
			<!-- header end -->

			<section class="bg-cover bg-center h-96" style="
					background-image: url(https://media.istockphoto.com/id/641925028/photo/crime-scene-tape-with-blurred-forensic-in-cinematic-tone.jpg?s=1024x1024&w=is&k=20&c=hCI5dciAEwRQCyB9wBg2SFLNNM-LKHZfvnaPup33-Ww=);
				">
				<div class="bg-black bg-opacity-50 h-full flex justify-center items-center">
					<div class="text-center text-white">
						<h2 class="text-4xl font-bold mb-4">
							Help Keep Your Neighborhood Safe
						</h2>
						<p class="text-xl mb-6">
							Report incidents, track community safety, and stay informed with
							VigilWatch.
						</p>
						<a href="#" class="bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg">Get
							Alert <i class="fas fa-exclamation-triangle"></i>
						</a>
					</div>
				</div>
			</section>

			<!-- Our Features Section  -->
			<section class="py-16">
				<div class="container mx-auto px-4 text-center">
					<h2 class="text-3xl font-bold mb-12">Our Features</h2>
					<div class="grid md:grid-cols-3 gap-8">
						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Effectiveness of Restorative Justice Programs
							</h3>
							<img src="https://media.istockphoto.com/id/1470210460/photo/justice.jpg?s=1024x1024&w=is&k=20&c=J72OTMzk11lXhJ0zm3rDgYHkQUObkXI0bVayxTn0Cfw="
								alt="" srcset="" />
							<p>
								Crime refers to activities that violate the laws established by
								a governing authority and are punishable by legal sanctions.
							</p>
						</div>

						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Role of Technology in Crime Prevention
							</h3>
							<img src="https://media.istockphoto.com/id/474088166/photo/police-officer-pulled-over-driver-for-traffic-violation.jpg?s=1024x1024&w=is&k=20&c=tSr7kh6n9JdcqNerdCQypQrUHH7SpucIUm55IzoGjRo="
								alt="" srcset="" />
							<p>
								Crime is defined as an act that breaches established laws and
								regulations, leading to legal consequences for the offender.
							</p>
						</div>

						<div class="bg-white p-6 shadow-lg rounded-lg">
							<h3 class="text-xl font-semibold mb-4">
								The Impact of Community Policing on Crime Reduction
							</h3>
							<img src="https://media.istockphoto.com/id/1166697314/photo/detective-board-with-photos-of-suspected-criminals-crime-scenes-and-evidence-with-red-threads.jpg?s=1024x1024&w=is&k=20&c=-3Q0nUuutEZCshSat30OzeEK-DtrypqJHN2Ze1tX0nM="
								alt="" srcset="" />
							<p>
								he repercussions of crime are far-reaching, impacting not only
								the direct victims but also the broader community by fostering
								fear and instability.
							</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Chat Icon -->
			<%- include('includes/chatIcon')%>
				<!-- chat Icon End -->

				<!-- Footer -->
				<%- include('includes/footer')%>
					<!-- Footer End -->
	</div>
</body>

</html>