<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Import News</title>
		<link rel="stylesheet" href="css/styles.css" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="bg-gray-100">
		<!-- Header -->
		<%- include('includes/header') %>

		<!-- Main Content -->
		<div
			class="container mx-auto p-6 bg-white rounded-lg shadow-md max-w-md mt-36 mb-10"
		>
			<h2 class="mt-4 text-3xl font-bold mb-8 text-center">Import News</h2>

			<form
				action="/admin/news/import"
				method="POST"
				enctype="multipart/form-data"
				class="max-w-lg mx-auto"
			>
				<!-- Title Field -->
				<div class="mb-4">
					<label for="title" class="block text-gray-700">Title:</label>
					<input
						type="text"
						name="title"
						id="title"
						required
						class="border border-gray-300 rounded p-2 w-full"
					/>
				</div>

				<!-- Description Field -->
				<div class="mb-4">
					<label for="description" class="block text-gray-700"
						>Description:</label
					>
					<textarea
						name="content"
						id="content"
						required
						class="border border-gray-300 rounded p-2 w-full"
					></textarea>
				</div>

				<!-- Incident Date Field -->
				<div class="mb-4">
					<label for="incidentDate" class="block text-gray-700"> Date:</label>
					<input
						type="datetime-local"
						name="created_at"
						id="created_at"
						required
						class="border border-gray-300 rounded p-2 w-full"
					/>
				</div>

				<!-- Location Field -->
				<div class="mb-4">
					<label for="location" class="block text-gray-700">Location:</label>
					<input
						type="text"
						name="location"
						id="location"
						required
						class="border border-gray-300 rounded p-2 w-full"
					/>
				</div>

				<!-- Image Upload Field -->
				<div class="mb-4">
					<label for="image" class="block text-gray-700">Image:</label>
					<input
						type="file"
						name="image"
						id="image"
						required
						class="border border-gray-300 rounded p-2 w-full"
					/>
				</div>

				<!-- Submit Button -->
				<button
					type="submit"
					class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
				>
					Import News
				</button>
			</form>
		</div>

		<!-- Footer -->
		<%- include('includes/footer') %>
	</body>
</html>
