<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link href="/css/styles.css" rel="stylesheet" />

	<style>
		.error {
			color: red;
			font-weight: bolder;
			font-size: 14px;
		}
	</style>
</head>

<body class="bg-slate-200">
	<!-- header end -->
	<%- include('includes/header') %>
		<!-- Header -->

		<main class="login-container flex justify-center mt-24 mb-10 ml-8 mr-8 bg-white rounded-lg p-10">
			<section class="left-login-container w-1/2 hidden md:flex flex-col justify-center">
				<div class="text-center text-sm md:text-lg lg:text-2xl mb-12 mt-24">
					"Crime is forbidden, Report It"
				</div>
				<img class="bg-img md:w-60 lg:w-3/5 h-2/3 ml-auto mr-auto opacity-55" src="../background.png" alt="" />
			</section>

			<section class="rignt-login-section flex flex-col justify-center items-center mx-auto">
				<div class="logo-wrapper flex flex-col items-center pt-4">
					<img class="h-14 sm:h-16 md:h-20 lg:h-24" src="../logo.png" alt="" />
					<h1 class="text-sm md:text-lg lg:text-2xl xl:text-3xl font-bold text-darkblue mt-3">
						Welcome Back
					</h1>
				</div>

				<div class="flex items-center justify-center mt-5" id="login-description-wrapper">
					<hr class="border-customgray border-1 md:w-0 lg:w-20" />

					<div class="text-customgray text-xs sm:text-xs md:text-sm lg:text-lg">
						LOGIN WITH PHONE NUMBER
					</div>
					<hr class="border-customgray border-1 md:w-0 lg:w-20" />
				</div>

				<form action="/login" method="POST" id="login-form" class="px-20">
					<div class="flex flex-col">
						<div class="relative flex items-center justify-center" id="email-wrapper">
							<input
								class="w-80 p-2 pl-10 border-2 border-t-0 border-l-0 border-r-0 outline-none mt-7 mb-3"
								type="text" name="phoneNumber" placeholder="Enter  registered phone number" required />
							<div class="absolute top-9 left-4">

								<svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-6 text-customgray" fill="currentColor" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
								  </svg>
							</div>
						</div>

					</div>

					<!-- Display error message if it exists -->
					<% if (typeof error !=='undefined' ) { %>
						<p class="error">
							<%= error %>
						</p>
						<% } %>

							<div class="btns flex flex-col justify-center items-center mt-5">
								<button class="login-btn text-white bg-red-600 rounded-lg w-60 mb-4 p-1 text-lg"
									type="submit">
									Log in
								</button>

								<hr class="border-1 w-80 h-.5 bg-customgray" />

								<span class="text-center pb-6 text-xs md:text-sm">Don't have an account?
									<a href="./register" class="text-blue-600 underline">Register</a></span>
							</div>
				</form>
			</section>
		</main>


</body>

</html>