<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hubwatch Map Vies</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="/css/map.css" />

		<style>
			.suggested-area {
				background-color: #fff;
				border-radius: 0 0 16px 16px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				max-height: calc(100vh - 200px);
				overflow: hidden;
			}

			.suggestion {
				padding: 0.5rem;
			}

			.suggestion:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}

			#map {
				width: 100%;
				height: 24rem;
				z-index: 10;
			}

			.searchbar-wrapper {
				z-index: 100;
			}

			.leaflet-control-zoom {
				position: absolute;
				/* bottom: 20px;  */
				/* Distance from the bottom of the map */
				left: 50%;
				/* Center horizontally */
				/* margin-left: -22px;  */
				/* Half of the width of the zoom controls to truly center */
				z-index: 1000;
			}
		</style>
	</head>

	<body>
		<!--  -->

		<%- include('includes/header') %>

		<main class="mt-24">
			<!-- search bar -->
			<section
				class="searchbar-wrapper border w-4/5 rounded-sm flex items-center fixed sm:w-full mt-10 mx-8 lg:w-[40%] lg:left-[30%] bg-white p-2"
			>
				<form
					action="/filter-location"
					class="flex-1 flex h-full w-full items-center"
					id="searchForm"
				>
					<input
						type="text"
						placeholder="Search Hubwatch Crime Area"
						class="w-full h-full p-2 outline-none"
						name="locationFilter"
						id="searchTerm"
						autocomplete="off"
					/>
					<button type="submit" class="mr-7 ml-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							fill="currentColor"
							class="bi bi-search"
							viewBox="0 0 16 16"
						>
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
							/>
						</svg>
					</button>
				</form>
			</section>

			<div
				class="suggested-area border w-full flex flex-col relative top-12 sm:w-3/4 sm:left-[20%] md:w-1/2 md:left-[20%] lg:w-[40%] lg:left-[30%] bg-white z-50"
			></div>

			<h2></h2>

			<div class="bg-white p-6 rounded-lg shadow-lg">
				<div id="map" class="w-full h-96"></div>
			</div>

			<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

			<script>
					// displaying the map

					const crimesReport = <%- JSON.stringify(crimes) %>;



					const map = L.map('map').setView([6.290743, -10.760524], 10);

					crimesReport.forEach(crime => {
					console.log(crime);
					    L.marker([crime.location_lat, crime.location_lng]).addTo(map).bindPopup(`<h2>${crime.incident_type}</h2><br`).openPopup();
					})

					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					    maxZoom: 19,
					}).addTo(map);



				$("searchForm").on("submit", function() {
				             e.preventDefault();
				             const searchTerm = $(searchTerm).val();

				             $.post('/fetch-location', {searchTerm}, function(data){
				                 // clear existing markers
				                 map.eachLayer(function(layer){
				                     if(layer instanceof L.Marker) {
				                         map.removeLayer(layer)
				                     }
				                 })

				                 data.forEach(location=>{
				                     let marker = L.marker([location.location_lat, location.location_lng])
				                     .addTo(map).bindPopup(location.incident_type)
				                 })
				             })



					})

					const cancelBtn = document.querySelector(".cancel-btn")

					const suggestedAreaWrapper = document.querySelector('.suggested-area')



					// window.addEventListener("click", (e) => {
					//     if (e.target !==) {
					//         suggestedAreaWrapper.style.display = "none"
					//     }
					// })
			</script>
		</main>
	</body>
</html>
