<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Incident Reports</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body class="bg-gray-100">
		<!-- header -->
		<%- include('includes/header') %>
		<!-- header end -->
		<h2 class="mt-4 text-3xl font-bold mb-8 text-center">News Center</h2>
		<div
			class="mt-4 mb-10 max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4"
		>
			<!-- Card 1 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://thenewdawnliberia.com/jepujef/2024/02/DEA-raid-drug-dealers.jpg"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Drug Rade</h2>
						<p class="text-xs text-gray-500">2 hours ago</p>
					</div>
					<p class="text-gray-600 text-xs">Caldwell, New Georgia</p>
					<p class="mt-1 text-gray-700 text-sm">
						A house in New Georgia was broken into during the evening hour.
						Police are on the scene investigating.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>

			<!-- Card 2 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://thenewdawnliberia.com/jepujef/2022/04/Johnson-Street-protest.jpg"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Protest</h2>
						<p class="text-xs text-gray-500">2 minutes ago</p>
					</div>
					<p class="text-gray-600 text-xs">Caldwell, New Georgia</p>
					<p class="mt-1 text-gray-700 text-sm">
						A house in New Georgia was broken into during the evening hour.
						Police are on the scene investigating.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>

			<!-- Card 3 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5AAnwaV-Fty4Zjzx3IPW8J1nG5TiKJClkqQ&s"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Women Rights</h2>
						<p class="text-xs text-gray-500">6 hours ago</p>
					</div>
					<p class="text-gray-600 text-xs">Congo Town, Dupo Road</p>
					<p class="mt-1 text-gray-700 text-sm">
						A house in New Georgia was broken into during the evening hour.
						Police are on the scene investigating.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>

			<!-- Card 4 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://medicamondiale.org/fileadmin/_processed_/3/a/csm_Liberia_Thursdays-in-Black_CR_Medica-Liberia_109869df7d.jpg"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Women Rights</h2>
						<p class="text-xs text-gray-500">6 hours ago</p>
					</div>
					<p class="text-gray-600 text-xs">Congo Town, Dupo Road</p>
					<p class="mt-1 text-gray-700 text-sm">
						A house in New Georgia was broken into during the evening hour.
						Police are on the scene investigating.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>

			<!-- Card 5 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvY1lOfe377SiS2UJDu_RIMfExmmOW8gmybA&s"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Fire Incident</h2>
						<p class="text-xs text-gray-500">8 hours ago</p>
					</div>
					<p class="text-gray-600 text-xs">West Point, Monrovia</p>
					<p class="mt-1 text-gray-700 text-sm">
						A fire broke out in a local market in West Point, destroying several
						stalls. Firefighters have contained the blaze.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>

			<!-- Card 6 -->
			<div class="bg-white rounded-lg shadow-md overflow-hidden">
				<img
					class="w-full h-32 object-cover"
					src="https://gdb.voanews.com/37fcc03a-63f2-4440-b8b6-bfb5e35a5788_cx0_cy1_cw0_w408_r1_s.jpg"
					alt="Incident Image"
				/>
				<div class="p-3">
					<div class="flex justify-between items-center">
						<h2 class="text-lg font-semibold">Theft</h2>
						<p class="text-xs text-gray-500">10 hours ago</p>
					</div>
					<p class="text-gray-600 text-xs">Sinkor, 12th Street</p>
					<p class="mt-1 text-gray-700 text-sm">
						A burglary was reported on 12th Street in Sinkor, where several
						electronics were stolen from a local business.
					</p>
					<a
						href="#"
						class="block mt-3 bg-red-500 text-white text-center py-1 rounded hover:bg-red-600 text-sm"
						>View more</a
					>
				</div>
			</div>
		</div>

		<!-- footer -->
		<%- include('includes/footer') %>
		<!-- footer end -->
	</body>
</html>
