<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Terms of Service - CrimeNet</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body class="bg-gray-100 min-h-screen flex flex-col">
		<!-- Header -->
<%- include('includes/header') %>
		<!-- Header -->
		<header class="py-4">
			<div class="container mx-auto px-4">
				<h1 class="text-black text-3xl font-bold text-center">
					Terms of Service
				</h1>
			</div>
		</header>

		<!-- Main Content -->
		<main class="flex-grow">
			<div class="container mx-auto px-4 py-12">
				<div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
					<h2 class="text-2xl font-bold mb-4">Introduction</h2>
					<p class="text-gray-700 mb-6">
						These Terms of Service ("Terms") govern your use of our website and
						services. By accessing or using HubWatch, you agree to comply with
						and be bound by these Terms. Please read them carefully.
					</p>

					<h3 class="text-xl font-semibold mb-2">1. Use of Service</h3>
					<p class="text-gray-700 mb-4">
						You agree to use our services only for lawful purposes and in a way
						that does not infringe the rights of others or restrict or inhibit
						anyone else's use of the services.
					</p>

					<h3 class="text-xl font-semibold mb-2">2. User Accounts</h3>
					<p class="text-gray-700 mb-4">
						To access certain features, you may be required to create an
						account. You agree to provide accurate and complete information
						during the registration process and to update it as necessary.
					</p>

					<h3 class="text-xl font-semibold mb-2">3. Termination</h3>
					<p class="text-gray-700 mb-4">
						We may terminate or suspend your access to our services at any time,
						with or without cause, without notice or liability.
					</p>

					<h3 class="text-xl font-semibold mb-2">4. Changes to the Terms</h3>
					<p class="text-gray-700 mb-4">
						We reserve the right to modify these Terms at any time. Any changes
						will be posted on this page, and your continued use of the services
						constitutes acceptance of those changes.
					</p>

					<h3 class="text-xl font-semibold mb-2">5. Contact Us</h3>
					<p class="text-gray-700">
						If you have any questions about these Terms, please contact us at
						<a
							href="mailto:hubwatch231@gmail.com"
							class="text-red-600 hover:underline"
							>hubwatch231@gmail.com</a
						>.
					</p>
				</div>
			</div>
		</main>

		<!-- Footer -->
<%- include('includes/footer') %>
	</body>
</html>
