.current-user-bg {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.members-bg {
    background-color:  #e5e7eb;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.align-right {
    display: flex;
    align-items: flex-end;
}

.textarea {
    /* width: 100%;
    min-height: 40px;
    max-width: 200px;
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-x: hidden; */



    /*  */

    width: calc(min(100vw - 45px, 841px));
    display: flex;
    flex-direction: column;
    margin: 0px;
    resize: vertical;
    background: #161328;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    color: white;
    padding: 22px;
    padding-right: 0px;
    font-size: 18px;
    height: 187px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    justify-content: space-between;
    margin-top: 0px;
    padding-bottom: 47px;
    min-height: 20px;
}