*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.current-user-bg {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.members-bg {
    background-color:  #e5e7eb;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.align-right {
    display: flex;
    align-items: flex-end;
}



.input-wrapper {
    display: flex;
    align-items: center;
    margin-inline-end: auto;
    position:fixed;
    width: 65%;
    transform: translateY(330px);
   
}

.input-field {
    flex: 1px;
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.13); */
    color: black;
    resize: none;
    white-space: none;
    font-size: 18px;
}